/* FormComponent.css */

body {
  background-color: #f8f9fa;
  color: #333;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #a5b5d7; /* Pastel lacivert */
  max-width: 400px; /* Formun maksimum genişliği */
}

label {
  margin-bottom: 5px;
  color: #333;
}

input, textarea {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

@media only screen and (max-width: 600px) {
  .form-container {
    max-width: 100%;
  }
}

